.CreateBox {
  padding: 20px;
  margin: 35px;
  box-shadow: 0px 5px 10px 0px rgba(111 111 111 / 50%);
  border-radius: 8px;
  height: 500px;
}

.TextInput {
  font-size: large;
  text-decoration: none;
  width: 265px;
  height: 30px;
  border-radius: 5px;

  padding-left: 10px;
}
