.bigBox {
  margin: 35px;
  box-shadow: 0px 5px 10px 0px rgba(111 111 111 / 50%);
  border-radius: 8px;
}

.itemrow {
  padding: 35px;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.productText {
  text-decoration: none;
  color: black;
}

.item {
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(111 111 111 / 50%);
  padding: 15px;
  margin-right: 70px;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.categorieName {
  font-size: 25px;
  position: relative;
  margin-left: 45px;
  top: 18px;
}
